<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="tests">
            <file>tests/utils/PaginationTest.php</file>
            <file>tests/utils/shopping/CartTests.php</file>
            <file>tests/utils/shopping/PersistentCartTests.php</file>
        </testsuite>
    </testsuites>
</phpunit>
